alter table public.students add column grade_id uuid references public.grades(id) on delete set null; update public.students set grade_id = g.grade_id from public.groups g where students.group_id = g.id;
